@font-face {
    font-family: "Varela Round";
    src: url("fonts/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Archivo Black";
    src: url("fonts/ArchivoBlack-Regular.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("fonts/Poppins-Bold.ttf");
}


@blue: #2355da;
@section-grey: #f9fafd;
@section-padding-top: 81px;
@button-border-radius: 50px;


a, button {

    &:hover {
        transition: all .2s linear;
    }
}

::selection {
    background-color: #0aa5aa;
    color: #fff;
}

body {
    height: 11939px;            // !!!
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.text-link {
    color: @blue;

    &:hover {
        color: #3a3a3a;
    }
}

button {
    outline: none !important;
    background: none;
    border: none;
}

.container {
    max-width: 1340px;

    padding-left: 20px;
    padding-right: 20px;
}

.section-header {
    text-align: center;

    font-family: "Poppins Bold", sans-serif;
    font-size: 2.625em;
    color: #000;
}

.slick-slide {
    outline: none;
}


// header-contacts

.header-contacts {
    background-color: @section-grey;

    font-family: "Varela Round", sans-serif;
    font-size: 14px;

    overflow: hidden;

    .container {
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding-right: 20px;
    }

    a {
        padding: 10.4px 8px;        // !!!
    }
}


// header-menu

.header-menu {
    border-bottom: 1px solid gainsboro;
    font-family: "Varela Round", sans-serif;

    .container {
        padding-top: 13.8px;
        padding-bottom: 13.8px;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .logo {
        width: 182px;
        height: 64.2px;   
    }   
}

.header-menu__nav-container {
    padding-right: 0;
    font-size: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-menu__nav-list {
    margin-top: 1px;
    margin-bottom: 0;

    li {
        display: inline-block;
    }
}

.header-menu__list-item {
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;
    color: #3a3a3a;

    a {
        padding: 0.8em 1.01em;
    }

    &:hover {
        color: @blue;
        transition: .1s linear;
    }
}

.header-menu__dropdown {
    i {
        position: relative;
        bottom: 2px;

        margin-left: 9px;
        font-size: 0.6rem;
    }
}

.header-menu__button {
    display: inline-block;
    padding: 0.5px 20px;

    font-size: 13px;
    line-height: 3.1em;
    font-weight: bold;

    cursor: pointer;

    &:first-child {
        margin-right: 3px;
    }

    &.button-green-border i {
        margin-left: 3px;

        transform: rotate(-90deg);
        font-size: 16px;

        position: relative;
        top: 1px;
    }
}

.button-blue-border {
    color: @blue !important;
    border: 2px solid @blue;
    border-radius: @button-border-radius;

    &:hover {
        background: @blue;
        color: white !important;
    }
}

.button-green-border {
    color: #4DE55C !important;
    border: 2px solid #4DE55C;
    border-radius: @button-border-radius;

    &:hover {
        background-color: #4DE55C;
        color: white !important;
    }
}

.header-menu__btn-toggle {
    width: 38.2px;
    height: 40.2px;

    align-self: center;

    background: #0aa5aa;

    color: white;
    font-size: 15px;

    display: none;
}


// main screen

.main-screen__header {
    max-width: 630px;
    height: 100%;

    display: inline-block;
    align-self: center;

    margin: 2px 0 0 0;
    padding-left: 10px;

    font-family: "Montserrat", sans-serif;
    font-size: 39.9px;
    font-weight: 500;
    line-height: 1.61em;

    strong {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 40px;
    }
}

.main-screen {
    overflow: hidden;

    .container {
        display: flex;
        justify-content: space-between;
    }

    img {
        max-width: 540px;

        padding: 55px 55px 55px 55px;
        box-sizing: content-box;
    }
}


// about-us

.about-us {
    text-align: center;
    background: @section-grey;

    .container {
        padding: 60px 10px 60px 10px;
    }

    p {
        font-size: 14px;
        line-height: 26px;
    }
}

.about-us__header {
    margin-bottom: 0;

    font-family: "Montserrat Light", sans-serif;
    font-size: 50px;
    line-height: 1.4em;
    
    b {
        font-family: "Montserrat Bold", sans-serif;
        text-shadow: 10px 10px 20px rgba(0,0,0,0.11);
    }
}

.about-us__button {
    margin-top: 56px;
    padding: 11px 50px 11px 50px;
}

.button-darkblue-bg {
    border-radius: @button-border-radius;

    color: #FFFFFF;
    background-color: #3425F4;
    box-shadow: 0px 10px 30px -8px rgba(0,0,0,0.16);

    border: 1px solid transparent;

    &:hover {
        color: #3C25C4;
        background-color: rgba(255,255,255,0);
        border: 1px solid #3C25C4;
    }
}


// help

.help {
    background-image: url("img/blue_img-2.png");

    .container {
        padding-top: @section-padding-top;
        padding-bottom: 69px;

        text-align: center;
    }

    p {
        padding: 0px 50px 0px 50px;

        font-size: 13.5px;
        color: #fff;
        line-height: 26px;
    }
}

.help__header {
    font-size: 2.6em;
    margin-bottom: 0.39em;

    font-family: "Archivo Black", sans-serif;
    color: #FFFFFF;
}


// services

.services {

    .container {
        padding-top: @section-padding-top;
        padding-bottom: 75px;
    }
    
    .row {
        padding: 0px 23px;
    }
}

.services__header {
    margin-bottom: 26px;

    text-align: center;
    font-family: "Poppins Bold", sans-serif;
    font-size: 2.6em;
}

.services__item-header {
    margin-bottom: 20px;

    color: #000000;
    font-size: 21.3px;
    line-height: 28px;
}

.services__item {
    padding: 13px 20px;
    display: flex;

    img {
        width: 51px;
        height: 51px;
    }

    p {
        color: #545454;
        font-size: 13.1px;
        font-weight: 400;

        line-height: 2.15em;
        letter-spacing: 0px;
    }

    .wrapper {
        padding-left: 17px;
    }
}


// worked-with

.worked-with {
    background-color: @section-grey;

    padding-top: @section-padding-top;
    padding-bottom: 135px;
}

.worked-with__header {
    margin-bottom: 1.3rem;
}

.worked-with__slider {
    padding: 0px 40px;

    .slick-dots {
        position: relative;
        top: 119px;

        li {
            width: 18px;
            margin: 0;
        }
    }

    .slick-dots li button {
        padding: 0;

        &::before {
            color: #4064d7;
            font-size: 7px;
        }
    }
}

.slick-arrow {
    position: absolute;
    top: 58%;

    color: #8c8c8c;

    i {
        font-size: 20px;
    }

    &:focus {
        outline: none;
    }

    &.slick-disabled {
        color: #8d8d8d80;
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}



// portfolio

.portfolio {

    .section-header {
        margin-bottom: 32px;
    }

    .container {
        padding: 95px 0 100px;
    }

    .button-blue-bg svg {
        width: 14px;
        margin-left: 10px;
    }
} 

.portfolio__row {
    margin: 4px;
    padding: 0 16px;
}

.portfolio__item {
    padding-left: 2px;
    padding-right: 2px;

    overflow: hidden;
    cursor: pointer;

    img {
        width: 100%;
    }

    &:hover .portfolio__item-caption {
        transform: translateY(-45px);
    }
}

.portfolio__item-caption {
    width: 100%;

    background: rgba(255,255,255,.8);
    padding: 11px 0;

    position: absolute;
    bottom: -45px;

    transition: all .2s ease-in-out;

    color: #333;
    font-size: 13px;
    font-weight: 400;
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#portfolioModal {

    .modal-body {
        padding: 0;
        margin: 0 auto;

        img {
            max-width: 100%;
        }
    }

    .modal-content {
        width: auto;
        margin: 0 auto;
    }

    .modal-dialog {
        max-width: 100vw;
    }

    .close {
        display: none;
        z-index: 1;

        position: absolute;
        top: -25px;
        right: 10px;
    }
}

.modal-backdrop.show {
    opacity: 0.8;
}

.button-blue-bg {
    margin: 0 auto;
    display: block;

    padding: 6px 40px;
    margin-top: 52px;

    color: #fff;
    background-color: #2185f5;

    border-radius: @button-border-radius;
    border: 1px solid#2185f5;
    box-shadow: 0px 10px 30px -8px rgba(0,0,0,.16);

    &:hover {
        color: #ff7052;
        background-color: #fff;
        border-color: #ff7052;

        svg path {
            transition: .5s;
            fill: #ff7052;
        }
    }
}


// apps

.apps {
    background-color: #2185f5;

    .container {
        padding: 40px 0 9px;
    }
}

.apps__slider {
    margin: 0 10px;

    button {
        z-index: 1;
    }

    .slick-arrow {
        top: 47%;
        color: rgba(238, 238, 238, 0.9);

        &.slick-disabled {
            color: #ffffff6b;
        }
    }

    .slick-dots {
        position: relative;
        top: 28px;

        li {
            width: 18px;
            margin: 0;
        }

        li button {
            padding: 0;
    
            &::before {
                font-size: 7px;
            }
        }
    }
}


// process 


.process {
    background-color: @section-grey;

    padding: @section-padding-top;
    padding-bottom: 94px;

    .section-header {
        margin-bottom: 1.3rem;
    }
}

.process__row-4 {
    padding: 0px 25px;
}

.process__item {
    padding: 0px 10px;

    text-align: center;
    font-family: "Varela Round", sans-serif;

    p {
        margin: 0;

        color: #7a7a7a;
        font-size: 14px;
        line-height: 1.85714;
    }

    img {
        max-width: 67.59px;
    }
}

.process__row-3 {
    margin-top: 21px;
    padding: 0px 85px;

    img {
        max-width: 79.7px;
    }

    .process__item-container {
        padding: 30px;
    }
}

.process__item-container {
    padding: 20px;

    background-color: #fff;
    transition: all .2s;

    box-shadow: 0px 0px 8px -4px rgba(0,0,0,.5);

    &.dark-shadow {
        box-shadow: 0px 0px 8px -4px #000;
    }
    
    &:hover {
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,.5);
    }

    &.big-padding {
        padding-bottom: 44px;   
    }
}

.process__item-number {
    margin-bottom: 23px;

    color: #3a3a3a;
    font-weight: bold;
    font-size: 1.875rem;
}

.process__item-header {
    margin: 15px 0 22px;
    line-height: 1.39;

    color: #000;
    font-size: 21px;
    font-weight: 700;
}


// ranking

.ranking {

    .section-header {
        margin-bottom: 2.3rem;
    }

    .container {
        padding: @section-padding-top 45px 73px;
    }
}

.ranking__item {
    padding: 10px;
    text-align: center;

    img {
        max-width: 100%;
    }
}


// clients

.clients {
    background-color: @blue;

    .section-header {
        color: #fff;
        margin-bottom: 1.2rem;
    }

    .container {
        padding: 61px 30px;
    }
}

.clients__slider-item {
    padding: 30px 0 41px;

    text-align: center;
    background: #fff;

    font-family: "Varela Round", sans-serif;
}

.clients__slider-image {
    width: 100px;
    height: 100px;

    margin: 0 auto;

    border-radius: 50%;
    border: 5px solid rgba(255,255,255,.3);
    box-shadow: 0 2px 6px rgba(0,0,0,.15);
}

.clients__slider-text {
    margin: 10px 0 22px;
    line-height: 30px;

    font-size: 16px;
    font-style: italic;
    color: gray;
}

.clients__slider-name {
    margin-bottom: 11px;

    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.clients__slider-workplace {
    font-size: 13px;
    color: #777;
    text-transform: capitalize;

    &::before {
        content: "";
        width: 30px;
        display: block;

        margin: 10px auto;
        border: 1px solid #d3d3d3;
    }
}


// features

.features {
    font-family: "Varela Round", sans-serif;

    .container {
        padding-top: @section-padding-top;
        padding-bottom: 75px;
    }
    
    .row {
        padding: 0px 15px;
    }
}

.features__header {
    margin-bottom: 18px;

    text-align: center;
    font-family: "Poppins Bold", sans-serif;
    font-size: 2.63em;
}

.header-par {
    text-align: center;
    font-size: 14px;
    font-weight: bold;

    font-family: "Varela Round", sans-serif;
}

.features__header-par {
    margin-bottom: 50px;
}

.features__item-header {
    margin-bottom: 20px;
    line-height: 28px;

    font-weight: bold;
    color: #000000;
    font-size: 21px;
}

.features__item {
    padding: 4px 12px;
    display: flex;
    justify-content: space-between;

    img {
        max-width: 80px;
        height: max-content;
    }

    p {
        color: #7a7a7a;
        font-size: 14px;
        font-weight: 400;

        line-height: 1.9em;
        letter-spacing: 0px;
    }

    .wrapper {
        width: 328px;
        padding-left: 17px;
    }
}


// technologies

.technologies {
    background-color: @section-grey;

    padding-top: @section-padding-top;
    padding-bottom: 56px;
}

.technologies__header {
    margin-bottom: 1.3rem;
}

.technologies__slider {
    margin-top: 67px;
    margin-bottom: 0;

    padding: 0px 40px;

    .slick-dots {
        position: relative;
        top: 41px;

        li {
            width: 18px;
            margin: 0;
        }
    }

    .slick-arrow {
        top: 38.5%;
    }

    .slick-dots li button {
        padding: 0;

        &::before {
            color: #4064d7;
            font-size: 7px;
        }
    }
}


// industries

.industries {

    .container {
        padding: @section-padding-top 30px 85px;
    }

    .row {
        justify-content: center;
        flex-wrap: nowrap;

        overflow: hidden;
    }

    .section-header {
        margin-bottom: 1.15rem;
    }
}

.industries__header-par {
    margin-bottom: 1.6rem;
}

.industries__item {
    width: 246px;
    height: 222.69px;

    margin: 5px;
    padding: 20px;

    text-align: center;
    background-color: #f9fafd;
    transition: all .3s;

    img {
        width: 92.69px;
    }

    p {
        margin-top: 12px;
        line-height: 1.4;

        font-family: "Varela Round", sans-serif;
        color: #000;

        font-size: 21px;
        font-weight: 700;
    }

    &:hover {
        background-color: #c3c6cd;
    }
}


// values

.values {
    padding-top: @section-padding-top;
    padding-bottom: 62px;

    background-color: @section-grey;

    .section-header {
        margin-bottom: 1.15rem;
    }

    .header-par {
        font-size: 14px;
    }

    .row {
        padding: 9px 25px;
    }

    &__item {
        padding: 35px;
        text-align: center;
    }

    &__item-img {
        max-height: 75px;
        margin-bottom: 14px;
    }

    &__item-header {
        margin-bottom: 22px;

        color: #000;
        font-family: "Poppins Bold",Sans-serif;
        font-size: 21px;
    }

    &__item-par {
        font-family: "Varela Round", sans-serif;

        color: #7a7a7a;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.857;
    }
}


// team

.team {
    padding-top: @section-padding-top;
    padding-bottom: 83px;

    .row {
        padding: 38px 15px 0;
    }

    &__item {
        margin-bottom: 22px;

        font-family: "Varela Round", sans-serif;
        text-align: center;
    }

    &__item-img {
        max-width: 100%;
        border-radius: 50%;
    }

    &__item-header {
        margin-top: 18px;

        font-weight: bold;
        font-size: 20px;
    }

    &__item-par {
        margin-top: 15px;

        font-size: 14px;
        color: #7a7a7a;
    }
}


// form

.form-section {
    padding: 50px 0;
    background: @blue;
    overflow: hidden;

    font-family: "Varela Round", sans-serif;

    &__form {
        padding: 0 13px;
    }

    form {
        padding: 47px 20px 76px;
        background: @section-grey;
    }

    .section-header {
        font-size: 30px;
    }

    .header-par {
        margin-bottom: 3.2em;

        font-weight: normal;
        line-height: 1.858;
    }

    &__name,
    &__email,
    &__number,
    &__skype,
    &__budget,
    &__message {
        padding: 18px 20px;
        margin: 10px 0px;

        font-size: 14px;
        color: #666;

        border: 1px solid#eaeaea;
        border-radius: 2px;
        transition: all .2s linear;
    }

    &__name,
    &__email,
    &__number,
    &__skype {
        width: 48%;
    }

    &__email,
    &__skype {
        float: right;
    }

    &__budget,
    &__message {
        width: 100%;
        display: block;
    }

    &__message {
        height: 70px;
        margin-top: 0px;
    }

    &__budget {
        margin-top: 20px;
    }

    &__submit {
        .button-blue-border;

        display: block;
        margin: 0 auto;
        margin-top: 20px;
        padding: 11px 50px;

        font-size: 16px;    
        border: 1px solid @blue;
    }

    //

    &__contacts {
        padding: 61px 0 0 30px;
        
        .section-header {
            color: #fff;
            margin-bottom: 1.5rem;
        }
    }

    &__item {
        position: relative;

        margin-top: 10px;
        padding-left: 183px;

        color: #fff;

        img {
            max-width: 89.77px;

            position: absolute;
            left: 43px;
            top: -2px;
        }

        &-header {
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 1.3rem;
        }

        &-address {
            font-size: 14px;
            line-height: 2.3em;
            margin-bottom: 0;
        }

        a {
            display: block;
            margin: 11px 0;
            font-size: 15px;

            &:first-of-type {
                margin-top: 5px;
            }
        }

        .fa {
            margin-right: 4px;
        }
    }

    &__item:nth-of-type(2) {
        margin-top: 58px;
    }

    .fa-phone {
        position: relative;
        top: 1px;

        transform: rotate(271deg);
        font-size: 19px;
    }

    &__buttons-row {
        max-width: 88%;

        margin-top: 50px;
        text-align: center;
    }

    &__button {
        margin: 11px 6px;
        padding: 17px 19.5px;

        color: white;
        font-size: 16px; 

        border-radius: 50px;
        background: transparent;
        border: 2px solid white;

        &:first-child i {
            margin-left: 6px;
        }

        &:last-child i {
            margin-right: 4px;
        }
    }
}

// links

.links {
    margin: 35px 0;

    .row {
        padding: 0 37px;
    }

    &__item {
        font-size: 20px;
        font-family: "Varela Round", sans-serif;

        img {
            max-width: 40px;
            margin-right: 10.6px;
        }
    }
}


// footer 

.footer {
    padding: 70px 0 12px;
    background: @section-grey;

    font-family: "Varela Round", sans-serif;

    .logo-small {
        max-width: 150px;
    }
    
    &__links-column {
        padding: 0px 17px
    }

    &__links-column:nth-of-type(2) {
        padding-left: 20px;
    }

    &__contacts-column {
        padding-left: 22.5px;

        .footer__header {
            margin-bottom: 37px;
        }
    }

    &__par {
        margin-top: 34px;
        padding-right: 8px;

        font-size: 12px;
        line-height: 1.85714;
        text-align: justify;

        a {
            font-weight: bold;
        }
    }

    &__header {
        margin-bottom: 24px;
        padding-top: 2px;
        font-size: 20px;
    }

    &__links-list {
        font-size: 12px;

        li {
            padding: 13.5px 0;
        }

        i {
            margin-left: 4px;
            margin-right: 10px;

            vertical-align: middle;
            font-size: 12.5px;
            color: #2185f5;
        }
    }

    .footer__address {
        margin-top: 21px;

        font-size: 12px;
        line-height: 1.85714;

        &-caption {
            display: block;
        }
    }

    &__contacts-list {
        font-size: 12px;

        li {
            padding: 11px 0;
        }

        svg {
            max-width: 13.5px;

            margin-left: 2px;
            margin-right: 14px;
        } 
        
        i {            
            margin-right: 16px;

            font-size: 18px;
            color: #2185f5;
        }
    }

}

.copyright {
    padding: 23px 20px 26px;

    line-height: 1.857;
    text-align: center;

    font-family: "Varela Round", sans-serif;
    font-size: 14px;
}




/// media queries


@media (max-width: 1280px) {

    .main-screen {
        img {
            max-width: 42vw;
        }
    }

}

@media (max-width: 1023px) {

    .header-menu {
        border-bottom: none;
    }

    .header-menu__btn-toggle {
        margin-left: calc(100vw - 261px);
    }

    .header-menu__nav-container {
        display: none;              //!!!

        padding: 0;
        justify-content: flex-start;
    }

    .header-menu__nav-list {
        width: 100%;
    }

    .header-menu__list-item {
        display: inline-block;
        width: 100%;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #eaeaea;

        a {
            padding-left: 0;
        }
    }

    .header-menu__btn-toggle {
        display: block;
    }

    .worked-with {
        padding-bottom: 85px;
    }

    .worked-with__slider {

        .slick-dots {
            top: 50px;
        }
    }

    .process__row-4 {
        padding: 0;
    }

    .process__row-3 {
        padding: 0px 60px;
    }


    .technologies__header {
        font-size: 3.50em;
    }

    #portfolioModal .close {
        display: block;
    }

    .form-section__contacts {
        padding: 61px 0 0 0;
    }

    .form-section__item {
        padding-left: 135px;
        margin-left: 0;
        margin-top: 65px;

        img {
            left: 20px;
        }

        &:nth-of-type(2) {
            margin-top: 75px;
        }
    }

    .form-section__buttons-row {
        max-width: 97%;
    }
}


@media (max-width: 768px) {

    .section-header {
        font-size: 1.755em;
    }

    .header-contacts {
        a {
            font-size: 12px;

            display: block;
        }
    }

    .main-screen {
        .container {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

        br {
            display: none;
        }

        img {
            max-width: 86vw;

            margin: 0 auto;
            padding: 55px 0px 55px 0px;
        }
    }

    .main-screen__header  {
        text-align: center;
        font-size: 25.9px;

        position: relative;
        bottom: 35px;

        strong {
            font-size: 26px;
        }
    }

    .help__header {
        font-size: 1.8em;
        margin-bottom: 0.6em;
    }

    .help,
    .about-us {
        p {
            font-size: 12px;
        }
    }

    .help {

        p {
            padding: 0;
            line-height: 1.95;
        }

    }

    .services__header {
        font-size: 30px;
    }

    .services__item {
        flex-wrap: wrap;
        padding: 13px 0px;

        img {
            width: 80px;
            height: 80px;

            margin: 0 auto;
        }

        p {
            font-size: 11.9px;
        }

        .wrapper {
            text-align: center;
            padding-left: 0;
        }
    }

    .services__item-header {
        margin-top: 18px;
    }

    .worked-with {
        padding-bottom: 95px;
    }


    .process {
        padding: 83px 0 75px;

        .section-header {
            font-size: 1.555em;
            margin-bottom: 0.7rem;
        }
    }

    .process__item  {
        padding: 10px 15px;
        margin-bottom: 4px;

        img {
            max-width: 80px;
        }

        p {
            font-size: 12.8px;
        }
    }

    .process__item-number {
        font-size: 1.250rem;
    }

    .process__row-3 {
        padding: 0;
        margin-top: 0;
    }


    .ranking {
        .container {
            padding: @section-padding-top 30px 73px;
        }
    }


    .clients .container {
        padding: 46px 15px;
    }


    .features .container {
        padding-top: 83px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .features__item {
        text-align: center;
        flex-wrap: wrap;

        .wrapper {
            width: auto;
            padding-left: 0;
        }

        img {
            margin: 0 auto;
        }

        p {
            font-size: 12.7px;
            line-height: 1.85em;
        }
    }

    .features__item-header {
        margin-top: 16px;
        margin-bottom: 20px;
    }

    .features__header {
        font-size: 25px;
    }

    .header-par {    
        font-size: 12.7px;
    }


    .industries {
        overflow: hidden;
    }

    .industries .row {
        flex-wrap: wrap;
    }

    .industries__item {
        width: 100%;
        height: 235px;

        img {
            width: auto;
        }
    }

    .values {

        .section-header {
            font-size: 25px;   
        }

        .header-par {
            font-size: 12.7px;
        }

        &__item-img {
            max-height: 140px;
        }

        &__item-par {
            font-size: 12.8px;
        }
    }

    .team {

        &__item {
            margin-bottom: 27px;
        }

        &__item-header {
            font-size: 18.24px;
        }

        &__item-par {
            font-size: 12.7px;
        }
    }

    .form-section {
        overflow: hidden;

        .container {
            padding-left: 0;
            padding-right: 0;
        }

        .section-header {
            font-size: 20px;
        }

        input, 
        textarea {
            font-size: 13px
        }

        .form-section__item {
            max-width: 379px;

            margin: 0 auto;
            margin-top: 65px;
            padding-left: 135px;
        }
    }

    .links__item {
        margin: 10px;
    }

    .footer {
        padding: 70px 0 0;

        &__header {
            font-size: 18.24px;
        }

        &__par {
            margin-bottom: 35px;
        }
    }

    .copyright {
        font-size: 12.768px;
    }
}

@media (max-width: 575px) {
    .portfolio__row {
        margin: 0;
    }

    .portfolio__item {
        margin: 1px 0;
    }

    .portfolio .container {
        padding: 95px 0 80px;
    }

    .industries {
        .container {
            padding: @section-padding-top 5px;
        }

        .section-header {
            font-size: 1.5625em;
        }
    }

    .values__item-img {
        max-height: 25vw;
    }


    .form-section {
        padding: 50px 0 35px;

        &__contacts {
            padding: 61px 10px 0 0;
        }

        &__buttons-row {
            max-width: 100%;
        }

        &__button {
            padding: 13px 18.5px;
        }

        &__item {
            margin-left: 10px;
        }
    }
}

@media (max-width: 375px) {

    .button-blue-bg {
        width: 89vw;
        font-size: 84%;

        svg {
            position: relative;
            bottom: 1px;
        }
    }
}