@font-face {
  font-family: "Varela Round";
  src: url("fonts/VarelaRound-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat Light";
  src: url("fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Archivo Black";
  src: url("fonts/ArchivoBlack-Regular.ttf");
}
@font-face {
  font-family: "Poppins Bold";
  src: url("fonts/Poppins-Bold.ttf");
}
a:hover,
button:hover {
  transition: all 0.2s linear;
}
::selection {
  background-color: #0aa5aa;
  color: #fff;
}
body {
  height: 10000px;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.text-link {
  color: #2355da;
}
.text-link:hover {
  color: #3a3a3a;
}
button {
  outline: none !important;
  background: none;
  border: none;
}
.container {
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
}
.section-header {
  text-align: center;
  font-family: "Poppins Bold", sans-serif;
  font-size: 2.625em;
  color: #000;
}
.slick-slide {
  outline: none;
}
.header-contacts {
  background-color: #F9FAFD;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  overflow: hidden;
}
.header-contacts .container {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
.header-contacts a {
  padding: 10.4px 8px;
}
.header-menu {
  border-bottom: 1px solid gainsboro;
  font-family: "Varela Round", sans-serif;
}
.header-menu .container {
  padding-top: 13.8px;
  padding-bottom: 13.8px;
}
.header-menu .row {
  margin-right: 0;
  margin-left: 0;
}
.header-menu .logo {
  width: 182px;
  height: 64.2px;
}
.header-menu__nav-container {
  padding-right: 0;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-menu__nav-list {
  margin-top: 1px;
  margin-bottom: 0;
}
.header-menu__nav-list li {
  display: inline-block;
}
.header-menu__list-item {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3a3a3a;
}
.header-menu__list-item a {
  padding: 0.8em 1.01em;
}
.header-menu__list-item:hover {
  color: #2355da;
  transition: 0.1s linear;
}
.header-menu__dropdown i {
  position: relative;
  bottom: 2px;
  margin-left: 9px;
  font-size: 0.6rem;
}
.header-menu__button {
  display: inline-block;
  border-radius: 50px;
  padding: 0.5px 20px;
  font-size: 13px;
  line-height: 3.1em;
  font-weight: bold;
  cursor: pointer;
}
.header-menu__button:first-child {
  margin-right: 3px;
}
.header-menu__button.button-green-border i {
  margin-left: 3px;
  transform: rotate(-90deg);
  font-size: 16px;
  position: relative;
  top: 1px;
}
.button-blue-border {
  color: #2355DA !important;
  border: 2px solid #2355DA;
}
.button-blue-border:hover {
  background: #2355DA;
  color: white !important;
}
.button-green-border {
  color: #4DE55C !important;
  border: 2px solid #4DE55C;
}
.button-green-border:hover {
  background-color: #4DE55C;
  color: white !important;
}
.header-menu__btn-toggle {
  width: 38.2px;
  height: 40.2px;
  align-self: center;
  background: #0aa5aa;
  color: white;
  font-size: 15px;
  display: none;
}
.main-screen__header {
  max-width: 630px;
  height: 100%;
  display: inline-block;
  align-self: center;
  margin: 2px 0 0 0;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 39.9px;
  font-weight: 500;
  line-height: 1.61em;
}
.main-screen__header strong {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 40px;
}
.main-screen {
  overflow: hidden;
}
.main-screen .container {
  display: flex;
  justify-content: space-between;
}
.main-screen img {
  max-width: 540px;
  padding: 55px 55px 55px 55px;
  box-sizing: content-box;
}
.about-us {
  text-align: center;
  background: #F9FAFD;
}
.about-us .container {
  padding: 60px 10px 60px 10px;
}
.about-us p {
  font-size: 14px;
  line-height: 26px;
}
.about-us__header {
  margin-bottom: 0;
  font-family: "Montserrat Light", sans-serif;
  font-size: 50px;
  line-height: 1.4em;
}
.about-us__header b {
  font-family: "Montserrat Bold", sans-serif;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.11);
}
.about-us__button {
  margin-top: 56px;
  padding: 11px 50px 11px 50px;
}
.button-darkblue-bg {
  border-radius: 50px;
  color: #FFFFFF;
  background-color: #3425F4;
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.16);
  border: 1px solid transparent;
}
.button-darkblue-bg:hover {
  color: #3C25C4;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #3C25C4;
}
.help {
  background-image: url("img/blue_img-2.png");
}
.help .container {
  padding-top: 81px;
  padding-bottom: 69px;
  text-align: center;
}
.help p {
  padding: 0px 50px 0px 50px;
  font-size: 13.5px;
  color: #fff;
  line-height: 26px;
}
.help__header {
  font-size: 2.6em;
  margin-bottom: 0.39em;
  font-family: "Archivo Black", sans-serif;
  color: #FFFFFF;
}
.services .container {
  padding-top: 81px;
  padding-bottom: 75px;
}
.services .row {
  padding: 0px 23px;
}
.services__header {
  margin-bottom: 26px;
  text-align: center;
  font-family: "Poppins Bold", sans-serif;
  font-size: 2.6em;
}
.services__item-header {
  margin-bottom: 20px;
  color: #000000;
  font-size: 21.3px;
  line-height: 28px;
}
.services__item {
  padding: 13px 20px;
  display: flex;
}
.services__item img {
  width: 51px;
  height: 51px;
}
.services__item p {
  color: #545454;
  font-size: 13.1px;
  font-weight: 400;
  line-height: 2.15em;
  letter-spacing: 0px;
}
.services__item .wrapper {
  padding-left: 17px;
}
.worked-with {
  background-color: #f9fafd;
  padding-top: 81px;
  padding-bottom: 135px;
}
.worked-with__header {
  margin-bottom: 1.3rem;
}
.worked-with__slider {
  padding: 0px 40px;
}
.worked-with__slider .slick-dots {
  position: relative;
  top: 119px;
}
.worked-with__slider .slick-dots li {
  width: 18px;
  margin: 0;
}
.worked-with__slider .slick-dots li button {
  padding: 0;
}
.worked-with__slider .slick-dots li button::before {
  color: #4064d7;
  font-size: 7px;
}
.slick-arrow {
  position: absolute;
  top: 58%;
  color: #8c8c8c;
}
.slick-arrow i {
  font-size: 20px;
}
.slick-arrow:focus {
  outline: none;
}
.slick-arrow.slick-disabled {
  color: #8d8d8d80;
}
.slick-arrow.left {
  left: 0;
}
.slick-arrow.right {
  right: 0;
}
.portfolio .section-header {
  margin-bottom: 32px;
}
.portfolio .container {
  padding: 95px 0 100px;
}
.portfolio .button-blue-bg svg {
  width: 14px;
  margin-left: 10px;
}
.portfolio__row {
  margin: 4px;
  padding: 0 16px;
}
.portfolio__item {
  padding-left: 2px;
  padding-right: 2px;
  overflow: hidden;
  cursor: pointer;
}
.portfolio__item img {
  width: 100%;
}
.portfolio__item:hover .portfolio__item-caption {
  transform: translateY(-45px);
}
.portfolio__item-caption {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 11px 0;
  position: absolute;
  bottom: -45px;
  transition: all 0.2s ease-in-out;
  color: #333;
  font-size: 13px;
  font-weight: 400;
  text-indent: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#portfolioModal .modal-body {
  padding: 0;
  margin: 0 auto;
}
#portfolioModal .modal-body img {
  max-width: 100%;
}
#portfolioModal .modal-content {
  width: auto;
  margin: 0 auto;
}
#portfolioModal .modal-dialog {
  max-width: 100vw;
}
#portfolioModal .close {
  display: none;
  z-index: 1;
  position: absolute;
  top: -25px;
  right: 10px;
}
.modal-backdrop.show {
  opacity: 0.8;
}
.button-blue-bg {
  margin: 0 auto;
  display: block;
  padding: 6px 40px;
  margin-top: 52px;
  color: #fff;
  background-color: #2185f5;
  border-radius: 50px;
  border: 1px solid #2185f5;
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.16);
}
.button-blue-bg:hover {
  color: #ff7052;
  background-color: #fff;
  border-color: #ff7052;
}
.button-blue-bg:hover svg path {
  transition: 0.5s;
  fill: #ff7052;
}
.apps {
  background-color: #2185f5;
}
.apps .container {
  padding: 40px 0 9px;
}
.apps__slider {
  margin: 0 10px;
}
.apps__slider button {
  z-index: 1;
}
.apps__slider .slick-arrow {
  top: 47%;
  color: rgba(238, 238, 238, 0.9);
}
.apps__slider .slick-arrow.slick-disabled {
  color: #ffffff6b;
}
.apps__slider .slick-dots {
  position: relative;
  top: 28px;
}
.apps__slider .slick-dots li {
  width: 18px;
  margin: 0;
}
.apps__slider .slick-dots li button {
  padding: 0;
}
.apps__slider .slick-dots li button::before {
  font-size: 7px;
}
@media (max-width: 1280px) {
  .main-screen img {
    max-width: 42vw;
  }
}
@media (max-width: 1023px) {
  .header-menu {
    border-bottom: none;
  }
  .header-menu__btn-toggle {
    margin-left: calc(100vw - 261px);
  }
  .header-menu__nav-container {
    display: none;
    padding: 0;
    justify-content: flex-start;
  }
  .header-menu__nav-list {
    width: 100%;
  }
  .header-menu__list-item {
    display: inline-block;
    width: 100%;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #eaeaea;
  }
  .header-menu__list-item a {
    padding-left: 0;
  }
  .header-menu__btn-toggle {
    display: block;
  }
  .worked-with {
    padding-bottom: 85px;
  }
  .worked-with__slider .slick-dots {
    top: 50px;
  }
  #portfolioModal .close {
    display: block;
  }
}
@media (max-width: 768px) {
  .section-header {
    font-size: 1.755em;
  }
  .header-contacts a {
    font-size: 12px;
    display: block;
  }
  .main-screen .container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .main-screen br {
    display: none;
  }
  .main-screen img {
    max-width: 86vw;
    margin: 0 auto;
    padding: 55px 0px 55px 0px;
  }
  .main-screen__header {
    text-align: center;
    font-size: 25.9px;
    position: relative;
    bottom: 35px;
  }
  .main-screen__header strong {
    font-size: 26px;
  }
  .help__header {
    font-size: 1.8em;
    margin-bottom: 0.6em;
  }
  .help p,
  .about-us p {
    font-size: 12px;
  }
  .help p {
    padding: 0;
    line-height: 1.95;
  }
  .services__header {
    font-size: 30px;
  }
  .services__item {
    flex-wrap: wrap;
    padding: 13px 0px;
  }
  .services__item img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .services__item p {
    font-size: 11.9px;
  }
  .services__item .wrapper {
    text-align: center;
    padding-left: 0;
  }
  .services__item-header {
    margin-top: 18px;
  }
  .worked-with {
    padding-bottom: 95px;
  }
}
@media (max-width: 575px) {
  .portfolio__row {
    margin: 0;
  }
  .portfolio__item {
    margin: 1px 0;
  }
  .portfolio .container {
    padding: 95px 0 80px;
  }
}
@media (max-width: 375px) {
  .button-blue-bg {
    width: 89vw;
    font-size: 84%;
  }
  .button-blue-bg svg {
    position: relative;
    bottom: 1px;
  }
}
