@font-face {
    font-family: "Varela Round";
    src: url("fonts/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Archivo Black";
    src: url("fonts/ArchivoBlack-Regular.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("fonts/Poppins-Bold.ttf");
}



a, button {

    &:hover {
        transition: all .2s linear;
    }
}

::selection {
    background-color: #0aa5aa;
    color: #fff;
}

body {
    height: 10000px;            // !!!
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.text-link {
    color: #2355da;

    &:hover {
        color: #3a3a3a;
    }
}

button {
    outline: none !important;
    background: none;
    border: none;
}

.container {
    max-width: 1340px;

    padding-left: 20px;
    padding-right: 20px;
}

.section-header {
    text-align: center;

    font-family: "Poppins Bold", sans-serif;
    font-size: 2.625em;
    color: #000;
}

.slick-slide {
    outline: none;
}


// header-contacts

.header-contacts {
    background-color: #F9FAFD;

    font-family: "Varela Round", sans-serif;
    font-size: 14px;

    overflow: hidden;

    .container {
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding-right: 20px;
    }

    a {
        padding: 10.4px 8px;        // !!!
    }
}


// header-menu

.header-menu {
    border-bottom: 1px solid gainsboro;
    font-family: "Varela Round", sans-serif;

    .container {
        padding-top: 13.8px;
        padding-bottom: 13.8px;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .logo {
        width: 182px;
        height: 64.2px;   
    }   
}

.header-menu__nav-container {
    padding-right: 0;
    font-size: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-menu__nav-list {
    margin-top: 1px;
    margin-bottom: 0;

    li {
        display: inline-block;
    }
}

.header-menu__list-item {
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;
    color: #3a3a3a;

    a {
        padding: 0.8em 1.01em;
    }

    &:hover {
        color: #2355da;
        transition: .1s linear;
    }
}

.header-menu__dropdown {
    i {
        position: relative;
        bottom: 2px;

        margin-left: 9px;
        font-size: 0.6rem;
    }
}

.header-menu__button {
    display: inline-block;

    border-radius: 50px;
    padding: 0.5px 20px;

    font-size: 13px;
    line-height: 3.1em;
    font-weight: bold;

    cursor: pointer;

    &:first-child {
        margin-right: 3px;
    }

    &.button-green-border i {
        margin-left: 3px;

        transform: rotate(-90deg);
        font-size: 16px;

        position: relative;
        top: 1px;
    }
}

.button-blue-border {
    color: #2355DA !important;
    border: 2px solid #2355DA;

    &:hover {
        background: #2355DA;
        color: white !important;
    }
}

.button-green-border {
    color: #4DE55C !important;
    border: 2px solid #4DE55C;

    &:hover {
        background-color: #4DE55C;
        color: white !important;
    }
}

.header-menu__btn-toggle {
    width: 38.2px;
    height: 40.2px;

    align-self: center;

    background: #0aa5aa;

    color: white;
    font-size: 15px;

    display: none;
}


// main screen

.main-screen__header {
    max-width: 630px;
    height: 100%;

    display: inline-block;
    align-self: center;

    margin: 2px 0 0 0;
    padding-left: 10px;

    font-family: "Montserrat", sans-serif;
    font-size: 39.9px;
    font-weight: 500;
    line-height: 1.61em;

    strong {
        font-family: "Montserrat Bold", sans-serif;
        font-size: 40px;
    }
}

.main-screen {

    .container {
        display: flex;
        justify-content: space-between;
    }

    img {
        max-width: 540px;

        padding: 55px 55px 55px 55px;
        box-sizing: content-box;
    }
}


// about-us

.about-us {
    text-align: center;
    background: #F9FAFD;

    .container {
        padding: 60px 10px 60px 10px;
    }

    p {
        font-size: 14px;
        line-height: 26px;
    }
}

.about-us__header {
    margin-bottom: 0;

    font-family: "Montserrat Light", sans-serif;
    font-size: 50px;
    line-height: 1.4em;
    
    b {
        font-family: "Montserrat Bold", sans-serif;
        text-shadow: 10px 10px 20px rgba(0,0,0,0.11);
    }
}

.about-us__button {
    margin-top: 56px;
    padding: 11px 50px 11px 50px;
}

.button-darkblue-bg {
    border-radius: 50px;

    color: #FFFFFF;
    background-color: #3425F4;
    box-shadow: 0px 10px 30px -8px rgba(0,0,0,0.16);

    border: 1px solid transparent;

    &:hover {
        color: #3C25C4;
        background-color: rgba(255,255,255,0);
        border: 1px solid #3C25C4;
    }
}


// help

.help {
    background-image: url("img/blue_img-2.png");

    .container {
        padding-top: 81px;
        padding-bottom: 69px;

        text-align: center;
    }

    p {
        padding: 0px 50px 0px 50px;

        font-size: 13.5px;
        color: #fff;
        line-height: 26px;
    }
}

.help__header {
    font-size: 2.6em;
    margin-bottom: 0.39em;

    font-family: "Archivo Black", sans-serif;
    color: #FFFFFF;
}


// services

.services {

    .container {
        padding-top: 81px;
        padding-bottom: 75px;
    }
    
    .row {
        padding: 0px 23px;
    }
}

.services__header {
    margin-bottom: 26px;

    text-align: center;
    font-family: "Poppins Bold", sans-serif;
    font-size: 2.6em;
}

.services__item-header {
    margin-bottom: 20px;

    color: #000000;
    font-size: 21.3px;
    line-height: 28px;
}

.services__item {
    padding: 13px 20px;
    display: flex;

    img {
        width: 51px;
        height: 51px;
    }

    p {
        color: #545454;
        font-size: 13.1px;
        font-weight: 400;

        line-height: 2.15em;
        letter-spacing: 0px;
    }

    .wrapper {
        padding-left: 17px;
    }
}


// worked-with

.worked-with {
    background-color: #f9fafd;

    padding-top: 81px;
    padding-bottom: 115px;
}

.worked-with__header {
    margin-bottom: 1.3rem;
}

.worked-with__slider {
    padding: 0px 40px;
}

.slick-arrow {
    position: absolute;
    top: 45%;

    color: #8c8c8c;

    i {
        font-size: 20px;
    }

    &:focus {
        outline: none;
    }

    &.slick-disabled {
        color: #8d8d8d80;
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}



// portfolio

.portfolio {

    .section-header {
        margin-bottom: 32px;
    }

    .container {
        padding: 95px 0 100px;
    }

    .button-blue-bg svg {
        width: 14px;
        margin-left: 10px;
    }
} 

.portfolio__row {
    margin: 4px;
    padding: 0 16px;
}

.portfolio__item {
    padding-left: 2px;
    padding-right: 2px;

    overflow: hidden;
    cursor: pointer;

    img {
        width: 100%;
    }

    &:hover .portfolio__item-caption {
        transform: translateY(-45px);
    }
}

.portfolio__item-caption {
    width: 100%;

    background: rgba(255,255,255,.8);
    padding: 11px 0;

    position: absolute;
    bottom: -45px;

    transition: all .2s ease-in-out;

    color: #333;
    font-size: 13px;
    font-weight: 400;
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#portfolioModal {

    .modal-body {
        padding: 0;
        margin: 0 auto;

        img {
            max-width: 100%;
        }
    }

    .modal-content {
        width: auto;
        margin: 0 auto;
    }

    .modal-dialog {
        max-width: 100vw;
    }
}

.modal-backdrop.show {
    opacity: 0.8;
}

.button-blue-bg {
    margin: 0 auto;
    display: block;

    padding: 6px 40px;
    margin-top: 52px;

    color: #fff;
    background-color: #2185f5;

    border-radius: 50px;
    border: 1px solid#2185f5;
    box-shadow: 0px 10px 30px -8px rgba(0,0,0,.16);

    &:hover {
        color: #ff7052;
        background-color: #fff;
        border-color: #ff7052;

        svg path {
            transition: .5s;
            fill: #ff7052;
        }
    }
}


// apps

.apps {
    background-color: #2185f5;

    .container {
        padding: 40px 0 77px;
    }
}

.apps__slider {
    margin: 0 10px;

    .slick-arrow {
        top: 50%;
        color: rgba(238, 238, 238, 0.9);

        &.slick-disabled {
            color: #ffffff6b;
        }
    }
    
    button {
        z-index: 1;
    }
}


/// media queries

@media (max-width: 1280px) {

    .main-screen {
        img {
            max-width: 42vw;
        }
    }

}

@media (max-width: 1023px) {

    .header-menu {
        border-bottom: none;
    }

    .header-menu__btn-toggle {
        margin-left: calc(100vw - 261px);
    }

    .header-menu__nav-container {
        display: none;              //!!!

        padding: 0;
        justify-content: flex-start;
    }

    .header-menu__nav-list {
        width: 100%;
    }

    .header-menu__list-item {
        display: inline-block;
        width: 100%;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #eaeaea;

        a {
            padding-left: 0;
        }
    }

    .header-menu__btn-toggle {
        display: block;
    }

}


@media (max-width: 768px) {

    .section-header {
        font-size: 1.755em;
    }

    .header-contacts {
        a {
            font-size: 12px;

            display: block;
        }
    }

    .main-screen {
        .container {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

        br {
            display: none;
        }

        img {
            max-width: 86vw;

            margin: 0 auto;
            padding: 55px 0px 55px 0px;
        }
    }

    .main-screen__header  {
        text-align: center;
        font-size: 25.9px;

        position: relative;
        bottom: 35px;

        strong {
            font-size: 26px;
        }
    }

    .help__header {
        font-size: 1.8em;
        margin-bottom: 0.6em;
    }

    .help,
    .about-us {
        p {
            font-size: 12px;
        }
    }

    .help {

        p {
            padding: 0;
            line-height: 1.95;
        }

    }

    .services__header {
        font-size: 30px;
    }

    .services__item {
        flex-wrap: wrap;
        padding: 13px 0px;

        img {
            width: 80px;
            height: 80px;

            margin: 0 auto;
        }

        p {
            font-size: 11.9px;
        }

        .wrapper {
            text-align: center;
            padding-left: 0;
        }
    }

    .services__item-header {
        margin-top: 18px;
    }
}

@media (max-width: 575px) {
    .portfolio__row {
        margin: 0;
    }

    .portfolio__item {
        margin: 1px 0;
    }
}

@media (max-width: 375px) {

    .button-blue-bg {
        width: 89vw;
        font-size: 84%;

        svg {
            position: relative;
            bottom: 1px;
        }
    }
}